@import "./../styles/lib";

.Carousel {
	margin: 0;
	width: 100%;
	min-height: 400px;
	height: 85vh;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	@media (max-width: 1280px) {
		min-height: 600px;
		height: 55vh;
	  }
	@media (max-width: 960px) {
		min-height: 450px;
		height: 40vh;
	  }
	@media (max-width: 500px) {
		min-height: 300px;
		height: 16vh;
	  }

	.image-slide {
		height: 100%;
		width: 100%;
		background-repeat: no-repeat;
		min-height: 720px;
		position: absolute;
		@media (max-height: 860px) {
			min-height: 600px;
		}
		@media (max-height: 722px) {
			min-height: 500px;
		}
		@media (max-height: 600px) {
			min-height: 400px;
		}
		@media (max-width: 1280px) {
			min-height: 600px;
		  }
		@media (max-width: 960px) {
			min-height: 450px;
		  }
		@media (max-width: 500px) {
			min-height: 300px;
		  }
	}

	.slide-arrow {
		color: #FFFFFF;
		cursor: pointer;
		font-size: 2rem;
		padding: 0.7rem;
		position: relative;
		z-index: 1;
		background: none;
		border: none;
		@media (max-width: 840px) {
			font-size: 1.75rem;
		  }
		@media (max-width: 500px) {
			font-size: 1.25rem;
		  }

		&:hover {
			opacity: 0.5;
		}

		&:visited {
			border: none;
			box-shadow: none;
		}
	}

	.slide-arrow.right {
		margin-right: 1rem;
		@media (max-width: 840px) {
			margin-right: .5rem;
		  }
		@media (max-width: 500px) {
			margin-right: .2rem;
		  }
	}

	.slide-arrow.left {
		margin-left: 1rem;
		@media (max-width: 840px) {
			margin-left: .5rem;
		  }
		@media (max-width: 500px) {
			margin-left: .2rem;
		  }
	}
}