@import "./../styles/lib";

.Carousel {
	height:100%;
	margin: 0;
	width: 100%;
	min-height: 800px;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.image-slide {
		height: 100%;
		width: 100%;
		background-repeat: no-repeat;
		min-height: 800px;
		position: absolute;
	}

	.slide-arrow {
		color: #FFFFFF;
		cursor: pointer;
		font-size: 2rem;
		padding: 0.7rem;
		position: relative;
		z-index: 1;

		&:hover {
			opacity: 0.5;
		}
	}

	.slide-arrow.right {
		margin-right: 1rem;
	}

	.slide-arrow.left {
		margin-left: 1rem;
	}
}